YO

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#viewport-sizes {
    display:none;  /*remark this out to show bootstap sizes*/
}


.contenedor-page{
    background-color:#495f74;

}


.row.header-sistema{
    background-color:#1b2c3b;
    color:#989595;
    padding-left:20px;
    padding:10px;
    font-size:27px;
    padding-top:65px;
}



#menu-lateral-principal{
     padding:0px;
     min-width:250px;
}


#MenuBarContainer{
    padding:0px;
    margin-top:20px;
}


#MenuBarContainer .panel.panel-default{
    border:0px;
}


#MenuBarContainer .panel-body{
    border:0px;
    padding:0px;
    margin-top:15px;
    margin-bottom:15px;
}


#MenuBarContainer .panel-body a{
    margin-left:20px;
    text-decoration:none;

}


#contenedor-principal{
    background-color:#dee3e8;
}


.container .row .cuerpo {
    margin:0 auto;
    height:600px;
    display: table;
    width:100%;
}


.container .row .cuerpo [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


#MenuBarContainer .accordion-heading a{
    color:#08224a;
    font-size:19px;
    text-decoration:none;
    font-family: 'Nunito', sans-serif;
    margin-left:30px;
}


#MenuBarContainer .accordion-heading a:hover{
    color:#08224a;
    text-shadow:2px 2px 10px white;
}


#MenuBarContainer .accordion-inner{
    padding:0px;
    margin-top:10px;
    margin-bottom:10px;
    border-bottom:1px solid #08224a;
}


.acordion-icon{
     color:#305339;
}


.acordion-icon:hover{
    color:#3ec629;
    text-shadow:2px 2px 10px #9be296;
    font-size:20px;
    cursor:none;
}


#MenuBarContainer .links{
    height: 2em;
    position: relative           
}


#MenuBarContainer .links:hover{
    background-color:#274157;
    color:whitesmoke;
}


#MenuBarContainer .links a{
    color:lightcyan;
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    text-decoration:none;
    margin-left:60px;
    padding:0px;
    position: absolute;               
    top: 50%;                        
    transform: translate(0, -50%);
    width:100%;

}


#MenuBarContainer .links a:hover{
    color:white;
    font-size:15px;
    font-family: sans-serif;
    text-shadow:2px 2px 15px white;
}


.mantenimiento-titulo h2{
    text-align:left;
    font-family: 'Nunito', sans-serif;
}


.filterOption-buttoms{
    background-color:#1b2c3b;
    padding:10px;
}


.mantenimiento-tabla td{
    vertical-align:bottom;

}

.control-label{
    min-width:150px;
}

#mantenimiento-container .filterOption-buttoms .td-bottom-align td{
    vertical-align: bottom;
}


.tabla{
    padding-top:10px;
    margin-left:25px;
    margin-right:25px;
}


.botonedit:hover{
    background-color: #99CCFF;

}
.formcenter{
    /*position: absolute;
		/*nos posicionamos en el centro del navegador*/
		/*top:50%;
		left:50%;
		/*determinamos una anchura*/
		/*width:400px;*/
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		/*margin-left:-200px;*/
		/*determinamos una altura*/
		/*height:300px;*/
		/*indicamos que el margen superior, es la mitad de la altura*/
		/*margin-top:-150px;
		border:1px solid #808080;
		padding:5px;*/

        max-width:500px;
        margin:80px auto;
                   
       
      
}





/*MENU*/


.withMenuIconsOnly .paf-menu-item.active:before,
.withMenu .paf-menu-item.active:before {
    color: #eee;
    content: "";
    display: block;
    font-family: FontAwesome;
    font-size: 20px;
    height: 27px;
    line-height: normal;
    position:absolute;
    right: -30px;
    width: 27px;
}

.withMenuIconsOnly ul.menuMain > li:nth-child(2).paf-menu-item.active:before,
.withMenu ul.menuMain > li:nth-child(2).paf-menu-item.active:before{
 right: -20px;
}

.menu-icons-only {
    bottom: 20px;
    color: #bbb;
    position: absolute;
    right: 15px;
}

.withMenuIconsOnly .menuMain {
    width: 50px;
}

.withMenuIconsOnly .menuMain a.toggle-submenu {
    display:none;
}

.withMenuIconsOnly .menuMain .li-seperator,
.withMenuIconsOnly .menuMain .li-seperator-lower {
       width:50px;
}

.inbox #menuSlide:hover .paf-menu-item.active:before {
    color: #FFF;
}

#menuSlide.withMenuIconsOnly .paf-menu-item.active:before {
right:-20px;
}

#menuSlide .li-seperator-lower.paf-menu-item.active:before {
    right: -20px;
}
