body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contenedor-page{
    border:1px solid;
    background-color:#083a44;

}

.encabezado{
    color:white;
    padding-left:10px;
}

.cuerpo{
    /*border: 1px solid;*/
    margin:0 auto;
    height:600px;
    /*padding:15px;*/
}


#menu-lateral-principal{
    border-top:0px;
    padding:15px;
}


#MenuBarContainer .panel-heading{
    background-color:#808080;
}

#MenuBarContainer .panel-title a{
    color:whitesmoke;
    font-size:20px;
    text-decoration:none;
    font-family: 'Nunito', sans-serif;
}


#MenuBarContainer .panel.panel-default{
    border:0px;
    border-radius:0px;
}


#MenuBarContainer .panel-body{
    border:0px;
    padding:0px;
    margin-top:15px;
    margin-bottom:15px;
    
   
}

#MenuBarContainer .panel-body a{
    margin-left:20px;
    text-decoration:none;
    
}


#MenuBarContainer .panel-body span{
    color:#02252c;
    font-size:17px;
    font-family: 'Nunito', sans-serif;

}



#contenedor-principal{
    padding:15px;
    background-color:white;
}


.container .row .cuerpo{
    display: table;
    width:100%;
}

.container .row .cuerpo [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.links{
    height:30px;

}


.links:hover{
    background-color:#ddd;
    background-position: center center;
    padding-bottom:2px;
    padding-top:2px;
}

.mant{
    text-align:left;
    font-size:large;
    color:black;
}
.tabla{
    padding-top:10px;
    margin-left:25px;
    margin-right:25px;
    
}
.tablas{
    text-align:center;
}