body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contenedor-page{
    background-color:#495f74;

}


.header-sistema{
    background-color:#1b2c3b;
    color:#989595;
    padding-left:20px;
    padding:10px;
    font-size:27px;
}


.cuerpo{
    margin:0 auto;
    height:600px;
}



#menu-lateral-principal{
     padding:0px;
}

#MenuBarContainer{
    padding:0px;
    margin-top:20px;
}


#MenuBarContainer .accordion-heading a{
    color:whitesmoke;
    font-size:19px;
    text-decoration:none;
    font-family: 'Nunito', sans-serif;
    margin-left:30px;
}



#MenuBarContainer .accordion-inner{
    padding:0px;
    margin-top:10px;
    margin-bottom:10px;
}


#MenuBarContainer .panel.panel-default{
    border:0px;
}


#MenuBarContainer .panel-body{
    border:0px;
    padding:0px;
    margin-top:15px;
    margin-bottom:15px;
}

#MenuBarContainer .panel-body a{
    margin-left:20px;
    text-decoration:none;
}


#MenuBarContainer .panel-body span{
    color:#707c89;
    font-size:16px;
    font-family: 'Nunito', sans-serif;
}


#contenedor-principal{
    background-color:#dee3e8;
}


.container .row .cuerpo{
    display: table;
    width:100%;
}

.container .row .cuerpo [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


#MenuBarContainer .links{
    height:27px;
}


#MenuBarContainer .links a{
    color:#edab5b;
    font-size:16px;
    font-family: 'Nunito', sans-serif;
    text-decoration:none;
    margin-left:50px;
    padding:0px;
}


.links:hover{
    background-color:#324658;
}

.mantenimiento-titulo h2{
    text-align:left;
    font-family: 'Nunito', sans-serif;
}


.filterOption-buttoms{
    background-color:#1b2c3b;
    padding:10px;
}

.mantenimiento-tabla td{
    vertical-align:bottom;

}


#mantenimiento-container .filterOption-buttoms .td-bottom-align td{
    vertical-align: bottom;
}


.tabla{
    padding-top:10px;
    margin-left:25px;
    margin-right:25px;
}
