
<div id="MenuBarContainer">
    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <i class="fa fa-wrench acordion-icon"></i> Soporte
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: showprofesor">Profesor</a></div>
                    <div class="links"><a href="#" data-bind="click: showalumno">Alumno</a></div>
                    <div class="links"><a href="#" data-bind="click: showusuario">Usuario</a></div>
                    <div class="links"><a href="#" data-bind="click: showaula">Aula</a></div>
                    <div class="links"><a href="#" data-bind="click: showmodulo">Modulo</a></div>
                    <div class="links"><a href="#" data-bind="click: showconcepto">Concepto</a></div>
                    <div class="links"><a href="#" data-bind="click: showplanestudio">Plan de Estudio</a></div>
                </div>
            </div>
        </div> <br />
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <i class="fa fa-cogs acordion-icon"></i> Procesos
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: showmatricula"><span>Registro de Matricula</span></a></div>
                    <div class="links"><a href="#" data-bind="click: showcalificacion"><span>Calificaciones</span></a></div>
                </div>
            </div>
        </div> <br />
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    <i class="fa fa-calendar acordion-icon"></i> Horarios
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: showhorariocurso"><span>Horario por Curso</span></a></div>
                    <div class="links"><a href="#" data-bind="click: showhorarioaula"><span>Horario por Aula</span></a></div>
                </div>
            </div>
        </div> <br />
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    <i class="fa fa-credit-card acordion-icon"></i> Pagos
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: showpago"><span>Compromiso de Pago</span></a></div>
                    <div class="links"><a href="#" data-bind="click: showdeuda"><span>Deudas Obtenidas</span></a></div>

                </div>
            </div>
        </div>

    </div>
</div>


<script>

    $(document).ready(function () {
        ko.applyBindings($('#MenuBarContainer')[0]);
    });

</script>
