
<div id="MenuBarContainer">

    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Soporte <i class="fa fa-wrench fa-stack-1x"></i>
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: profesorform">Profesor</a></div>
                    <div class="links"><a href="#" data-bind="click: alumnoform">Alumno</a></div>
                    <div class="links"><a href="#" data-bind="click: usuarioform">Usuario</a></div>
                    <div class="links"><a href="#" data-bind="click: aulaform">Aula</a></div>
                    <div class="links"><a href="#" data-bind="click: moduloform">Modulo</a></div>
                    <div class="links"><a href="#" data-bind="click: conceptoform">Concepto</a></div>
                    <div class="links"><a href="#" data-bind="click: planestudioform">Plan de Estudio</a></div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Procesos <i class="fa fa-cogs fa-stack-1x"></i>
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: matriculaform"><span>Registro de Matricula</span></a></div>
                    <div class="links"><a href="#" data-bind="click: calificacionform"><span>Calificaciones</span></a></div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    Horarios <i class="fa fa-calendar fa-stack-1x"></i>
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: horarioporcursoform"><span>Horario por Curso</span></a></div>
                    <div class="links"><a href="#" data-bind="click: horarioporaulaform"><span>Horario por Aula</span></a></div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    Pagos <i class="fa fa-usd fa-stack-1x"></i>
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="links"><a href="#" data-bind="click: pagoform"><span>Compromiso de Pago</span></a></div>
                    <div class="links"><a href="#" data-bind="click: deudaform"><span>Deudas Obtenidas</span></a></div>

                </div>
            </div>
        </div>

    </div>

</div>


<script>

    $(document).ready(function () {
        ko.applyBindings($('#MenuBarContainer')[0]);
    });
   
</script>
