<div class="contenedor-page">
    <div class="container">
        <div class="row">
            <div class="encabezado">

                <div class="col-lg-12">
                    <h2>Sistema Integrado de Gestion Academica</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="cuerpo">

                <div id="menu-lateral-principal" class="col-lg-2">

                </div>

                <div id="contenedor-principal" class="col-lg-10">

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    
    //$(document).ready(function () {
    //    $("#menu-lateral-principal").load('http://dev-registrointegral.com/MenuBar');

    //});

    $(document).ready(function () {
        $("#menu-lateral-principal").load('/MenuBar');

    });

    //function loginform() {
    //    $("#contenedor-principal").load('http://dev-registrointegral.com/Account/Login')
    //}

    function loginform() {
        $("#contenedor-principal").load('/Account/Login')
    }
    //function zonaprintOficina() {
    //    $("#contenedor-principal").load('/Alumno')
    //}
    
    //$('#myTab a').click(function (e) {
    //    e.preventDefault()
    //    $(this).tab('show')
    //})



</script>