<div class="contenedor-page">
    <div class="container">
        <div class="row header-sistema">
            <span>Sistema Integrado de Gestion Academica</span>
        </div>

        <div class="row">
            <div class="cuerpo">

                <div id="menu-lateral-principal" class="col-lg-3">

                </div>

                <div id="contenedor-principal" class="col-lg-9">

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    
    //$(document).ready(function () {
    //    $("#menu-lateral-principal").load('http://dev-registrointegral.com/MenuBar');

    //});

    $(document).ready(function () {
        $("#menu-lateral-principal").load('/MenuBar');

    });

    //function loginform() {
    //    $("#contenedor-principal").load('http://dev-registrointegral.com/Account/Login')
    //}

    function loginform() {
        $("#contenedor-principal").load('/Account/Login')
    }
    function profesorform() {
        $("#contenedor-principal").load('/Profesor')
    }
    function alumnoform() {
        $("#contenedor-principal").load('/Alumno')
    }
    function usuarioform() {
        $("#contenedor-principal").load('/Usuario')
    }
    function aulaform() {
        $("#contenedor-principal").load('/Aula')
    }
    function moduloform() {
        $("#contenedor-principal").load('/Modulo')
    }
    function conceptoform() {
        $("#contenedor-principal").load('/Concepto')
    }
    function planestudioform() {
        $("#contenedor-principal").load('/PlanEstudio')
    }
    function matriculaform() {
        $("#contenedor-principal").load('/RegistroMatricula')
    }
    function calificacionform() {
        $("#contenedor-principal").load('/Calificacion')
    }
    function horarioporcursoform() {
        $("#contenedor-principal").load('/HorarioCurso')
    }
    function horarioporaulaform() {
        $("#contenedor-principal").load('/HorarioAula')
    }
    function pagoform() {
        $("#contenedor-principal").load('/CompromisoPago')
    }
    function deudaform() {
        $("#contenedor-principal").load('/Deuda')
    }


   
    //function zonaprintOficina() {
    //    $("#contenedor-principal").load('/Alumno')
    //}
    
    //$('#myTab a').click(function (e) {
    //    e.preventDefault()
    //    $(this).tab('show')
    //})



</script>